# Environment
.env

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Tests
tests/
.pytest_cache

# Git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md

# Data
postgres_data/
data/

# uv
.venv/